@model Models.Orders

@{
    ViewBag.Title = "财富秒杀认购";
}

<h2>财富秒杀认购</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="UserName">投保人姓名</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Sex">投保人性别</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Sex, ViewData["sex"] as List<SelectListItem>, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="UserPhone">投保人电话后四位</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-maxlength="长度最大为10" data-val-maxlength-max="4" id="UserPhone" maxlength="4" name="UserPhone" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserCode, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })
                @Html.ValidationMessageFor(model => model.UserCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="nextPage" value="下一步" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回首页", "Index")
</div>
@section scripts{
    <script>
        $('#nextPage').click(function () {
            var userName = $('#UserName').val();
            var userPhone = $('#UserPhone').val();
            var userCode = $('#UserCode').val();//业务员代码

            if (userName == '') {
                alert("请填写姓名");
                return false;
            }
            if (userPhone == '') {
                alert("请填写电话");
                return false;
            }
            if (userCode == '') {
                alert("请填写编号");
                return false;
            }
            window.location = '/Home/CustomerTarget?UserName=' + userName + "&Sex=" + $('#Sex').val()
                + "&UserPhone=" + userPhone + "&UserCode=" + userCode;
        });
    </script>
}
